**/.DS_Store
**/a.out

hw1/seq_model_*.txt
hw1/model_*.txt
hw1/modellist.txt
hw1/result*.txt
hw1/testing_*.txt

hw1/train
hw1/train.sh
hw1/test
hw1/test.sh

hw2-1/speechdata/*
hw2-1/htk
hw2-1/MFCC/*
hw2-1/bin

hw3/testdata/*
